*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 35px;
}

.logo img{
    width:40px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    /* background-color: yellow; */
    margin: 4% 10%;
}

.content{
    display: grid;
    height: 95vh;
    margin-top: 20px;
    gap: 30px;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one one two"
    "three four two"
    "five six seven"
}

.content img{
    width: 100%;
}
.one{
    grid-area: one;
}

.two{
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    grid-area: two;
}
.two h3{
    font-size: 1rem;
    font-weight: 800;
    color: white;
}
.two p{
    font-size: 15px;
    font-weight: 400;
    color: white;
    
}

.two h2 {
    color: hsl(35, 77%, 62%);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}
button{
    color: #fff;
    padding:5px 10px;
    background-color:  hsl(5, 85%, 63%);
    margin-top: 30px;
    border: none;
    border-radius: 3px;
}


.three{
    grid-area:three;
}

.three h1{
    font-weight:900;
}
.four{
    font-size: 15px;
    grid-area: four;
    
}
.four p {
    color: hsl(231, 24%, 11%);
    font-size: 15px;
    margin-bottom: 10px;
  }

.five{
    grid-area: five;
    display:flex;
    align-items: center;
    padding: 10px;
    gap:15px;
}
.five img{
    width: 60px;
    height:100%;
}

.five p{
    font-size: 14px;
    color: hsl(231, 17%, 8%);
}


.number{
    color: hsl(233, 8%, 79%)
}
.six{
    display: flex;
    align-items: center;
    grid-area: six;
    padding: 10px;
    gap:15px;
    
}
.six img{
    width: 60px;
    height:100%;
}

.six p{
    font-size: 14px;
    color: hsl(231, 17%, 8%);
}

.seven{
    display: flex;
    align-items: center;
    grid-area: seven;
    padding: 10px;
    gap:15px;
}

.seven img{
    width: 60px;
    height:100%;
}

.seven p{
    font-size: 14px;
    color: hsl(231, 17%, 8%);
}
